
@media only screen and (max-width: 600px) {
   
    .authContainer {
        &.isScrollBottom {
            header {
                .logoContainer , mat-toolbar{
                    color: var(--color-0) !important;
        
                    mat-icon, button, span{
                        color: var(--color-0) !important;
                    }
                }
            }
        
        }
    }

    header {

        .logoContainer , mat-toolbar, .menuLabel{
            color: var(--color-1) !important;

            mat-icon, button, span {
                color: var(--color-1) !important;
            }
        }
        
    }

    .landingPageSection_First {
        height: 400px !important;
        
        h3, h5 {
            color: var(--color-1) !important;
        }

        .landingPageSection-start {
            z-index: 3 !important;
            padding-top: 24px !important;
        }

        .landingPageSection-end {
            position: absolute !important;
            top: -75px !important;
            width: 100vw !important;
            margin-inline: calc(-1.5rem * .5);

            .video-wrap {
                display: block !important;
                width: 100% !important;
                border-radius: 0 !important;
                margin: 0 !important;
                background-color: #000;

                .video-figure {
                    opacity: 0.5;
                }
            }

            .deco-banner {
                display: none !important;
            }
        }
    }

    .blogSection_First {
        height: 400px !important;
        
        h3, h5, p {
            color: var(--color-1) !important;
        }

        .blogSection-start {
            z-index: 3 !important;
        }

        .blogSection-end {
            position: absolute !important;
            top: -75px !important;
            width: 100vw !important;
            margin-inline: calc(-1.5rem * .5);

            .video-wrap {
                display: block !important;
                width: 100% !important;
                border-radius: 0 !important;
                margin: 0 !important;
                background-color: #000;

                .video-figure {
                    opacity: 0.5;
                }
            }

            .deco-banner {
                display: none !important;
            }
        }

        p {
            margin-inline: var(--space-6) !important;
        }

        .use-text-title {
            font-size: unset !important;
            line-height: 42px !important;
            
        }
    
        .use-text-subtitle2 {
            font-size: unset !important;
            line-height: 24px !important;
        }
    }

    .use-text-title {
        font-size: 28px !important;
        line-height: 42px !important;
        margin-inline: var(--space-6) !important;
    }

    .use-text-subtitle2 {
        font-size: 16px !important;
        line-height: 24px !important;
        margin-inline: var(--space-6) !important;
    }

    .burgerMenu {
        align-items: unset;
        justify-content: unset;

        &.show {
            visibility: visible;
    
            .burgerMenu-container {
                margin-top: 30vh;
            }
        }

        &-container {
            width: 100vw !important;
            margin-inline-end: unset !important;
            height: 70vh !important;
            margin-top: 100vh;
            border-radius: 25px 25px 0 0;

            &-start {
                height: 30px !important;

                mat-icon {
                    display: block !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    footer {
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 960px !important;
    }

    header {

        .endArea {
    
            &-tabs {
                a {
                    display: none !important;
                }
            }
        }

        .mobileMenuBtn {
            display: block !important;
        }
    }

    .landingPageSection,.blogSection {
        flex-direction: column !important;
    }

    .landingPageSection_First {
        max-width: 768px !important;


        h3, h5 {
            color: var(--color-0);
        }

        .landingPageSection-start {
            z-index: 1;
        }
        
        .landingPageSection-end {
            flex: unset !important;

            .video-wrap {
                display: none;
            }

            .deco-banner {
                opacity: 1 !important;

                .video-bg {
                    display: none !important;
                }
            }
        }
    }

    .blogSection_First {
        max-width: 768px !important;


        h3, h5 {
            color: var(--color-0);
        }

        .blogSection-start {
            z-index: 1;
        }
        
        .blogSection-end {
            flex: unset !important;

            .video-wrap {
                display: none;
            }

            .deco-banner {
                opacity: 1 !important;

                .video-bg {
                    display: none !important;
                }
            }
        }
    }

    .landingPageSection_Second {
        gap: var(--space-15) !important;


        .title-deco {
         
            &:before {
                border: 0 !important;
            }        
        }
    }

    .landingPageSection_Third, .landingPageSection_Four {
        .landingPageSection-end {
            display: flex;
            justify-content: center; 
        }

        .title-deco {
         
            &:before {
                border: 0 !important;
            }
            
            .decoration.show-lg-up {
                display: none;
            }
        }
    }

    .landingPageSection_Third,
    .landingPageSection_Four,
    .landingPageSection_Five,
    .landingPageSection_Six,
    .landingPageSection_Seven {
        margin-top: 0 !important;
    }

    .icon-green, .icon-red {
        display: none !important;
    }
}

@media only screen and (max-width: 1200px) {}