.three-dots {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    @for $i from 1 through 4 {
        &-#{$i}-line {
            -webkit-line-clamp: $i;
            display: -webkit-box !important;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

mat-toolbar {
    background-color: unset !important;
    width: auto !important;
} 

.mat-mdc-menu-panel {
    width: 250px;
    padding: 0 !important;
    background-color: var(--bg-0) !important;
    overflow: hidden !important;
}
.mat-mdc-menu-content {
    padding: 0 !important;
} 

.matMenu {
    &-containerItem {
        padding: 20px !important;
        color: var(--color-0);

        button {
            margin-inline: -20px !important;
            width: calc(100% + 40px) !important;
            padding-inline: 20px !important;
            color: var(--color-0);

            mat-icon {
                color: var(--color-0) !important;
            }
        }
    }

    &-hr {
        border-top: 1px solid var(--bg-5);
    }
}

.pCarousel {

    button.p-ripple {
        display: none;
    }

    .p-carousel-indicators {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0 !important;
        margin-top: var(--space-7) !important;

        li {
            flex-shrink: 0;
            display: flex;
            width: var(--space-6);
            height: var(--space-6);
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(0, 0, 0, 0);
            border-radius: 100%;

            &.p-highlight{
                border: 1px solid var(--color-3) !important;
            }

            button {
                width: var(--space-2);
                height: var(--space-2);
                padding: 0 !important;
                display: block;
                border: 0;
                margin: 0 !important;
                background-color: var(--v-primary-base) !important;
            }
        }
    }
}


.mostFrequentlyAskedQuestions {

    p-accordion {

        .p-accordion {
            display: flex;
            gap: var(--space-3);
            flex-wrap: wrap;
            align-items: flex-start;

            &-header {
    
                a {
                    color: var(--color-1) !important;
                    text-decoration: unset;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                span {
                    font-weight: bold;

                    .qIcon {
                        font-size: 18px;
                    }
                }
            }

            &-content {
                
                &[aria-hidden='true'] {
                    padding-top: var(--space-2) !important;
                }
            }
        }
    }
    
}

.cdk-overlay-container {
    z-index: 10000;
}