$steps: 251;
$increment: 1;

@for $i from 0 through $steps {
  .height-#{$i} {
    height: $i * $increment + px;
  }
}


@for $i from 0 through $steps {
  .width-#{$i} {
    width: $space * $i;
  }
}

// h1 = 40px
// h2 = 32px
// h3 = 28px
// h4 = 24px
// h5 = 20px
// h6 = 16px