 

.tippy {
    --tooltip-color: var(--color-1);
    --tooltip-background-color: var(--bg-6);
    z-index: 10000;
    position: fixed;
    padding-block:var(--space-1);
    padding-inline:var(--space-1);
    font-size: 14px;
    border-radius: 4px;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    background: var(--tooltip-background-color);
    color: var(--tooltip-color);
    max-width: 350px;
    border: 1px solid var(--color-blueGray-400);
    pointer-events: none;
    top: 0px;
}