:root {
    --font-family: 'Tijawal';

    --v-primary-base: #BB9BFA;
    --v-primarylight-base: #F4EEFF;
 
 
    --bg-0: #FFF;
    --bg-1: #fafafa;
    --bg-2: #f5f5f5;
    --bg-3: #eeeeee;
    --bg-4: #e0e0e0;
    --bg-5: #bdbdbd;
    --bg-6: #000;
    --bg-7: #F0F2F5;
    --bg-8: #e9ecef;
    --bg-9: #34C759;

    --color-0: #000000;
    --color-1: #FFFFFF;
    --color-2: #564872;
    --color-3: #BB9BFA;
    --color-4: #5C6169;
    --color-5: #27476085;
    --color-6: #77829D;
    --color-7: #1B3C74;
    --color-8: #DDDDDD;
    --color-9: #E4E4E4;
    --color-10: #B1B1B1;
    --color-11: #2C2948;
    --color-12: #6c757d;
    --color-13: #DC2626;    
    --color-14: #eeeeee;

    --con-1: rgba(0, 0, 0, 0.87);
    --con-2: rgba(0, 0, 0, 0.54);
    --con-3: rgba(0, 0, 0, 0.38);
    --con-4: rgba(0, 0, 0, 0.12);
    --con-5: rgba(0, 0, 0, 0.08);
    --con-6: rgba(0, 0, 0, 0.04);

    --input-background: var(--bg-0);
    --input-placeholder-color: var(--color-11);
    --input-text-color: var(--color-0);
    --input-border-color: var(--color-10);
    --input-disable-mode: var(--bg-8);
    --input-disable-mode-text-color: var(--color-12);
    --border-color-danger : var(--color-13);

    //Dark Mode
    // --bg-0: #424242;
    // --bg-1: #303030;
    // --bg-2: #212121;
    // --bg-3: #757575;
    // --bg-4: #616161;
    // --bg-5: #000;
    // --color-0:  #FFFFFF;
    // --color-1: #000000;
}

$space: 4px;
