<div class="authContainer">
    
    <div class="authContainer-start">
        <router-outlet />
        router here
    </div>
    <div class="authContainer-end">
        
        <div class="authContainer-end-top">

            <button class="btn btn-purble btn-purble__outline width-24" matTooltip="عربي">
                عربي
            </button>
            <button class="btn btn-purble btn-purble__outline" matTooltip="Back">
                Back
            </button>

        </div>
        <div class="authContainer-end-bottom">

        </div>

    </div>
 
</div>
