<div class="ourNewsCard">

    <div class="ourNewsCard-logoContainr">

        <img src="/assets/images/logo-card.png" alt="card__image" class="card__image imgOne">
        <img src="/assets/images/logo-card.svg" alt="card__image" class="card__image imgTwo">

    </div>
    <div class="ourNewsCard-body">
        <span>سبارك لرواد الأعمال الناشئين</span>
        <p>نفاس تحصد المركز الأول في مسابقة برنامج سبارك لرواد الأعمال الناشئين ، المقدم من مؤسسة محمد بن سلمان الخيرية مسك!</p>
    </div>

    <div class="ourNewsCard-body" >
        <a (click)="goToBlog()">أقرأ المــزيد</a>
    </div>

    <small class="ourNewsCard-date">13th December 2022</small>

</div>