header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 96px;
    background-color: var(--bg-0);
    gap: var(--space-1);

    .mobileMenuBtn {
        display: none;
        border: 0 !important;

        mat-icon {
            font-size: 30px;
            color: var(--color-0);
        }
    }

    .container {
        display: flex;
        align-items: center;
        gap: var(--space-6);
    }

    .logoContainer {
        font-size: 20px;
        cursor: pointer;
        display: flex;
        gap: var(--space-1);
        align-items: center;
        flex: 1;

        div {
            display: flex;
            gap: var(--space-2);
            align-items: center;
        }

        span {
            font-weight: bold;
            color: var(--color-2);
            font-size: 35px;
        }

        img {
            width: 58.78px;
            height: 58.33px;
        }
    }

    .endArea {
        flex: 3;
        display: flex;
        align-items: center;
        gap: var(--space-6);

        &-tabs {
            flex: 2;
            display: flex;
            align-items: center;
            gap: var(--space-10);

            a {
                font-size: 14px;
                font-family: var(--font-family);
                border: 0 !important;
                border-radius: 0 !important;
                color: var(--color-0);
                padding: 0;
                font-weight: 700;
                cursor: pointer;
                text-decoration-line: none;
                white-space: nowrap;

                &:Hover {
                    color: var(--v-primarydark-base);
                }

                &.active {
                    color: var(--v-primarydark-base);
                    font-weight: 700;
                }
            }
        }

        &-btnGroup {
            display: flex;
            align-items: center;
            gap: var(--space-2);
        }
    }
}


@media only screen and (max-width: 992px) {

    header {

        .endArea {
    
            &-tabs {
                a {
                    display: none !important;
                }
            }
        }

        .mobileMenuBtn {
            display: block !important;
        }
    }
}