@import "base.scss";

:host {
    --container-background: var(--bg-0)
}

.master {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &-bottom {
        flex: 1;
        overflow: auto;
        background: var(--container-background);
    }
}