<div class="burgerMenu" [class.show]="isOpen" (click)="closeBurgerMenu()">

    <div class="burgerMenu-container"  (click)="onBoxClick($event)">

        <div class="burgerMenu-container-start">
            <mat-icon>drag_handle</mat-icon>
        </div>
        <div class="burgerMenu-container-end">
            
            <a (click)="scrollToSection(landingPageSetionsNameEnum.AboutUs)">
                Home
            </a>
            <a (click)="scrollToSection(landingPageSetionsNameEnum.Ourvision)">
                Our Services
            </a>
            <a (click)="scrollToSection(landingPageSetionsNameEnum.OurMission)">
                About Us
            </a>
            <a (click)="scrollToSection(landingPageSetionsNameEnum.OurServices)">
                News
            </a>
            <a (click)="scrollToSection(landingPageSetionsNameEnum.OurNews)">
                Contact Us
            </a>

        </div>

    </div>

</div>