<div class="burgerMenu" [class.show]="isOpen" (click)="closeBurgerMenu()">

    <div class="burgerMenu-container"  (click)="onBoxClick($event)">

        <div class="burgerMenu-container-start">
            <mat-icon>drag_handle</mat-icon>
        </div>
        <div class="burgerMenu-container-end">
            
            <a>
                Home
            </a>
            <a>
                Our Services
            </a>
            <a>
                About Us
            </a>
            <a>
                News
            </a>
            <a>
                Contact Us
            </a>

        </div>

    </div>

</div>