<main class="container landingPageContainer">
    
    <section id="aboutUs" #aboutUs class="landingPageSection landingPageSection_First">

        <div class="landingPageSection-start landingPageSection_flex1 pt-12">

            <h3 class="text-helper use-text-title">معلومات عنا</h3>
            <h5 class="subtitle use-text-subtitle2">نبعت فكرة نِفاس من تجربة الدكتورة مروة حسونة مع الأمهات و الرضع في سنوات خبرتها مع استشارات الرضاعة، بالإضافة إلى تجربتها الشخصية مع الأمومة. في ديسمبر ٢٠٢٢ تحولت هذه التجارب إلى فكرة خدمات مبلورة عندما اشتركت الدكتورة مروة مع برنامج مؤسسة محمد بن سلمان سبارك SPARK لتدريب رواد الأعمال الناشئين. حيث حاز مشروع نِفاس في ختام البرنامج التدريبي على المركز الأول من بين المشاريع الناشئة، كما حصل على جائزة نقدية من مؤسسة محمد بن سلمان الخيرية، و مكتب من منشآت و تقدير و إشادة من نيوم. </h5>

        </div>
        <div class="landingPageSection-end landingPageSection_flex1">

            <div class="deco-banner">
                <div class="menu-bg">
                </div>
                <div class="video-bg"></div>
            </div>
            <div class="video-wrap">
                <div class="video-figure">
                    <figure  v class="inner-figure">
                        <img class="show-md-down" src="/assets/images/sectionOneImage.png" alt="cover">
                    </figure >
                </div>
            </div>

        </div>

    </section>

    <section class="landingPageSection landingPageSection_Second">

        <div class="landingPageSection-start landingPageSection_flex0-4">
    
            <div class="title-deco">
                <figure  class="bg-img">
                    <img src="/assets/images/sectionTwoImage.png">
                </figure >
            </div>

        </div>
        <div class="landingPageSection-end landingPageSection_flex0-6">

            <h5 class="subtitle use-text-subtitle2">اليوم شركة خدمات نِفاس للرعاية الطبية ، هي شركة سعودية مقرها مدينة الرياض تأسست عام ٢٠٢٣ ،  رقم سجل تجاري  ١٠١٠٩١٧٧٧٢ ،و ترخيص وزارة الصحة   للرعاية عن بعد و الطب الاتصالي، وترخيص وزارة الصحة للرعاية الطبية المنزلية   .تقوم نِفاس بتوفير خدمات و منتجات صحية و اجتماعية للأم و الطفل يَسْهُل استخدامها في راحة منزلك. </h5>

        </div>

        <div class="parallax-wrap">
            <div class="inner-parallax about">
                <div class="figure">
                    <div data-enllax-ratio="-0.15" class="enllax" data-enllax-type="foreground">
                        <div class="parallax-oval parallax-primary"></div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="ourvision" #ourvision class="landingPageSection landingPageSection_Third mt-20">

        <div class="landingPageSection-start landingPageSection_flex0-6">

            <img class="icon-green" src="/assets/images/green_buble.png"/>
            <h3 class="text-helper use-text-title">رؤيتنا</h3>
            <h5 class="desc subtitle use-text-subtitle2">مجتمع من الأمهات المستمتعات برحلة الأمومة مع أطفالهم السعداء و الأصحاء.</h5>     
     
        </div>
        <div class="landingPageSection-end landingPageSection_flex0-4">
 
            <img class="icon-red" src="/assets/images/red_buble.png"/>
            <div class="title-deco">

                <div class="decoration show-lg-up"></div>
                <figure class="bg-img">
                    <img class="vision-image" src="/assets/images/sectionThirdImage.jpeg" alt="">
                </figure>

            </div>

        </div>

    </section> 

    <section id="ourMission"  #ourMission class="landingPageSection landingPageSection_Four mt-20">

        <div class="landingPageSection-start landingPageSection_flex0-7">

            <img class="icon-green" src="/assets/images/green_buble.png"/>
            <h3 class="text-helper use-text-title">مهمتنا</h3>
            <h5 class="desc subtitle use-text-subtitle2">تحقيق العافية الصحية و النفسية و الاجتماعية للأمهات و أطفالهم من خلال خدمات منزلية ميسرة.</h5>     
     
        </div>
        <div class="landingPageSection-end landingPageSection_flex0-3">
 
            <div class="title-deco">

                <div class="decoration show-lg-up"></div>
                <figure class="bg-img">
                    <img class="vision-image" src="/assets/images/sectionFourImage.jpeg" alt="">
                </figure>

            </div>

        </div>

    </section> 

    <section id="ourServices" #ourServices class="landingPageSection landingPageSection_Five  mt-20">

        <div class="landingPageSection-start landingPageSection_flex1">
 
            <h3 class="text-helper use-text-title">خدماتنا</h3>
            <div class="ourServicesWidgets">
                <nifas-our-services-widgets />
            </div>
            <div class="title-icon-deco">
                <div class="capsul"></div>
                <div class="circle"></div>
            </div>

        </div>

    </section> 

    <section id="ourNews" #ourNews class="landingPageSection landingPageSection_Six mt-20">

        <div class="landingPageSection-start landingPageSection_flex1">
 
            <h3 class="text-helper use-text-title">أخبارنا</h3>
            <div class="OurNewsCard">
                <nifas-our-news-card />
            </div>
            <div class="title-icon-deco">
                <div class="capsul"></div>
                <div class="circle"></div>
            </div>

        </div>

    </section> 

    <section id="callUs" #callUs class="landingPageSection landingPageSection_Seven mt-20">

        <div class="landingPageSection-end landingPageSection_flex1">
 
            <h3 class="text-helper use-text-title">اتصل بنا</h3>
            <div class="contactUsContainer">

                <div class="contactUsContainer-row">

                    <mat-icon>phone</mat-icon>
                    <span>
                        075 150 112 966+
                    </span>

                </div>
                <div class="contactUsContainer-row">

                    <mat-icon>email</mat-icon>
                    <span>
                        Info&#64;nifas.net
                    </span>

                </div>
                <div class="contactUsContainer-row">

                    <mat-icon>location_on</mat-icon>
                    <span>
                        شارع التحلية، عمارة عبد اللطيف، مقابل مطعم كرم بيروت، الدور الأول، مكتب 101 الرياض، المملكة العربية السعودية
                    </span>

                </div>

            </div>

        </div>

    </section> 

</main>