<div class="ourServicesWidgetsContainer">

    <div class="ourServicesWidgetsContainer-item">

        <figure>
            <img src="/assets/images/متجر-الكتروني (1).png" alt="img">
        </figure>
        <div class="ourServicesWidgetsContainer-item-end">
            <h6>متجر الكتروني شامل لكل ما تحتاجه الأم و الطفل من منتجات و خدمات</h6>
        </div>

    </div>
    <div class="ourServicesWidgetsContainer-item">

        <figure>
            <img src="/assets/images/دورات-تدريبية (1).png" alt="img">
        </figure>
        <div class="ourServicesWidgetsContainer-item-end">
            <h6>مواد تثقيفية و دورات تدريبية عن بُعد لصحة الأم و الطفل</h6>
        </div>

    </div>
    <div class="ourServicesWidgetsContainer-item">

        <figure>
            <img src="/assets/images/body-care.png" alt="img">
        </figure>
        <div class="ourServicesWidgetsContainer-item-end">
            <h6>مساعدات منزليات لرعاية المواليد و الرضع</h6>
        </div>

    </div>
    <div class="ourServicesWidgetsContainer-item">

        <figure>
            <img src="/assets/images/Consulting.png" alt="img">
        </figure>
        <div class="ourServicesWidgetsContainer-item-end">
            <h6>استشارات عن بُعد لصحة الأم و الطفل</h6>
        </div>

    </div>
    <div class="ourServicesWidgetsContainer-item">

        <figure>
            <img src="/assets/images/Online-medical.png" alt="img">
        </figure>
        <div class="ourServicesWidgetsContainer-item-end">
            <h6>استشارات و زيارات منزلية صحية و نفسية للأم و الطفل</h6>
        </div>

    </div>

</div>