<main class="container blogContainer">
    
    <section class="blogSection blogSection_First">

        <div class="blogSection-start blogSection_flex1">

            <p> 13th December 2022</p>
            <h5 class="text-helper use-text-title">نفاس في المركز الأول من بين المشاريع الناشئة</h5>
            <h5 class="subtitle use-text-subtitle2">نفاس تحصد المركز الأول في مسابقة برنامج سبارك لرواد الأعمال الناشئين ، المقدم من مؤسسة محمد بن سلمان الخيرية مسك!</h5>
    
            <div class="blogCard">

                <div>
                    <img src="/assets/images/logo-card.png" alt="card__image">
                </div>
                <div class="flexi1">
                    <img src="/assets/images/logo-card.svg" alt="card__image">
                </div>
   
            </div>

        </div>
        <div class="blogSection-end blogSection_flex1">

            <div class="deco-banner">
                <div class="menu-bg">
                </div>
                <div class="video-bg"></div>
            </div>
            <div class="video-wrap">
                <div class="video-figure">
                    <figure  v class="inner-figure">
                        <img class="show-md-down" src="/assets/images/doctor.JPG" alt="cover">
                    </figure >
                </div>
            </div>

        </div>

    </section>
    <section class="blogSection blogSection_Second">

        <div class="blogSection-start blogSection_flex1">
    
            <div class="cerImgContainer">
                <img src="/assets/images/cer.png" id="img" style="width: 38%;">
            </div>

        </div>

    </section>

</main>