:host {
    min-height: 100%;
    display: block;
}

.blogContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-20);
    padding-bottom: var(--space-19);

    .blogSection {
        display: flex;
        gap: var(--space-3);
        position: relative;
    
        &_flex1 {
            flex: 1;
        }  
    
        &_First {
    
            .deco-banner {
                opacity: 0.5;
                
                 .menu-bg {
                    top: -670px;
                    right: -50px;
                    width: 915px;
                    height: 915px;
                    position: absolute;
                    border-radius: 50%;
                    background-color: var(--v-primarylight-base);
                }
    
                .video-bg {
                    top: -280px;
                    right: -380px;
                    width: 915px;
                    height: 915px;
                    position: absolute;
                    border-radius: 50%;
                    opacity: 0.45;
                    background-image: linear-gradient(95deg, var(--v-primary-base) 0%, var(--v-secondary-base) 110%);
                }
            }
    
            .video-wrap {
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                border-top-left-radius: 0;
                width: 450px;
                height: 450px;
                margin-top: 64px;
    
                .video-figure {
                    position: absolute;
                    height: 100%;
                    width: 100%;
    
                    .inner-figure {
                        background: var(--v-primary-base);
                        width: 100%;
                        height: 100%;
                        position: relative;
                    
                        img {
                            display: block;
                            min-width: 100%;
                            height: 100%;
                            z-index: 2;
                            position: relative;
                        }
                    }
                }
            }
        }

        &_Second {

            .cerImgContainer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 50vw !important;
                }
            }
        }

        &-start {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                color: var(--color-0);
            }

            div.blogCard {
                display: flex;
                box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
                border-radius: 1em;
                background: linear-gradient(to right, #d0bafc, #d0bafc);
                width: 340px;
                height: 108px;
                margin: 0 auto;
                align-items: center;
                gap: var(--space1);

                div {
                    height: 100%;
                    padding: var(--space-3);

                    &.flexi1 {
                        flex: 1;
                        width: 0;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    
        &-end {
            position: relative;
        }
    
        .use-text-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 72px;
            color: var(--color-0);
        }
        
        .use-text-subtitle2 {
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: var(--color-0);
        }
    }
    
 
}