<div class="LandingPage">
    
    <section class="sliderContainer">

        <div id="carouselL" class="carousel carousel-dark slide container" data-bs-ride="carousel">
    

            <div class="carousel-inner">

              <div class="carousel-item active">

                <div class="carousel-itemContainer">

                    <div class="carousel-itemContainer-part carousel-itemContainer-part_flex1">

                        <h3>Take Online</h3>
                        <h1>Doctor <span>Consultation</span></h1>
                        <h5>
                            Connect instantly with a 24x7 specialist or choose to video visit a particular doctor.
                        </h5>
    
                      </div>
                      <div class="carousel-itemContainer-part carousel-itemContainer-part_flex1"></div>

                </div>

              </div>

              <div class="carousel-item">

                <div class="carousel-itemContainer">

                    <div class="carousel-itemContainer-part carousel-itemContainer-part_flex1">

                        <h3>Take Online</h3>
                        <h1>Doctor <span>Consultation</span></h1>
                        <h5>
                            Connect instantly with a 24x7 specialist or choose to video visit a particular doctor.
                        </h5>
    
                      </div>
                      <div class="carousel-itemContainer-part carousel-itemContainer-part_flex1"></div>

                </div>

              </div>

              <div class="carousel-item">

                <div class="carousel-itemContainer">

                    <div class="carousel-itemContainer-part carousel-itemContainer-part_flex1">

                        <h3>Take Online</h3>
                        <h1>Doctor <span>Consultation</span></h1>
                        <h5>
                            Connect instantly with a 24x7 specialist or choose to video visit a particular doctor.
                        </h5>
    
                      </div>
                      <div class="carousel-itemContainer-part carousel-itemContainer-part_flex1"></div>

                </div>

              </div>  

            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselL" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                    <span></span>
                </button>
                <button type="button" data-bs-target="#carouselL" data-bs-slide-to="1" aria-label="Slide 2">
                    <span></span>
                </button>
                <button type="button" data-bs-target="#carouselL" data-bs-slide-to="2" aria-label="Slide 3">
                    <span></span>
                </button>
            </div>

        </div>

    </section>

     <section class="container">
         <nifas-swiper-slider />  
     </section>
 
</div>