.LandingPage {
    overflow: hidden;

    .sliderContainer {
        background: var(--v-primarylight-base);
         
        .carousel {
            height: 632.54px;
            padding-bottom: var(--space-10);

            &-inner {
                height: 100%;

                .carousel {

                    &-item  {
                        height: 100%;
                    }

                    &-itemContainer {
                        gap: var(--space-1);
                        display: flex;
                        height: 100%;

                        &-part {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
 
                            position: relative;
    
                            .mainImage {
                                width: 353px;
                                height: 353px;
                            }
                            
                            &_flex1 {
                                flex: 1;
                                width: 0;
                            }

                            &_center {
                                align-items: center;
                                justify-items: center;
                            }

                            h1 {
                                font-weight: bold;
                                line-height:67px;
                            }

                            h5 {
                                color: var(--color-4);
                                line-height: 32px
                            }
                        }
                    }
                }
            }

            &-indicators {
                display: flex;
 
                button {
                    width: var(--space-6) !important;
                    height: var(--space-6) !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 1;
                    margin: 0 !important;
                    background-color: unset !important;
                    border: 1px solid rgba(0, 0, 0, 0);

                    &.active {
                        border: 1px solid var(--color-3) !important;
                    }
                    
                    span {
                        display: block;
                        width: var(--space-2);
                        height: var(--space-2);
                        flex-shrink: 0;
                        border-radius: 100% !important;
                        background-color: var(--v-primary-base) !important;
                    }
                }
            }
        }
    }

    .ourServicesSection {
        background: var(--v-primarylight-base);

        &-container {
            padding-block: var(--space-12);
            display: flex;
            flex-direction: column;
            gap: var(--space-15);

            h1 {
                font-weight: bold;
                line-height: 67px;
                color: var(--color-0);
                width: 100%;
                text-align: center;
            }

            &-end {
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-7);
                align-items: center;
                justify-content: center;

                .ourServicesItem {
                    width: 270px;
                    height: 180px;
                    box-shadow: 0px 34px 44px 0px #D5DBE470;
                    border-radius: var(--space-2);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: var(--space-5);
                    background-color: var(--bg-0);
                    cursor: pointer;
                    flex-direction: column;

                    label {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .aboutAsSection {
        position: relative;

        &-container {
            padding-block: var(--space-30) var(--space-20);
            display: flex;
            flex-direction: column;
            gap: var(--space-20);
            z-index: 1;
            position: relative;
        }

        &-section {
            display: flex;
            align-items: flex-end;
            gap: var(--space-12);

            &_alignItemsStart {
                align-items: flex-start;
            }
        }

        &-imgContainer {
            height: 422px;
            flex: 1;
            position: relative;

            .mainPage {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: var(--space-5);
            }

            .secondPage {
                width: 167px;
                height: 167px;
                position: absolute;
                right: -85px;
                top: -85px;
                border-radius: 100%;
            }
        }

        &-textContainer {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: var(--space-5);

            h1 {
                font-weight: bold;
                line-height:67px;
            }

            h5 {
                line-height: 29px;
                color: var(--color-5);
            }
        }

        &-endSection {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--space-8);

            &-item {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 390px;
                height: 258px;
                gap: var(--space-8);
                border-radius: var(--space-6);
                box-shadow: 0px 4px 21px 1px #307BC41A;
                background-color: var(--bg-0);
                padding-inline:  var(--space-7);

                &-start {
                    display: flex;
                    align-items: center;
                    gap: var(--space-5);

                    .aboutAsImgContainer {
                        width: 45px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--v-primary-base);
                        border-radius: 100%;
                    }

                    h3 {
                        color: var(--color-0);
                        line-height: 40px;
                        font-weight: 600;
                    }
                }

                h6 {
                    line-height: 26px;
                    color: var(--color-5);
                }
            }
        }

        &-background {
            background: var(--v-primarylight-base);
            height: 547px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            border-start-start-radius: 200px;
        }
    }

    .downloadAppSection {
        height: 547px;
        position: relative;
        display: flex;

        &-start, &-end {
            z-index: 1;
            display: flex;
            height: 100%;
        }

        &-start {
            justify-content: center;
            align-items: flex-end;

            .saContainer, .sa1Container {
                height: 100%;
                overflow: hidden;
                position: relative;
            }

            .saContainer {
                margin-left: -30px;

                .sa {
                    height: 100%;
                    position: relative;
                    top: 150px;
                }
            }

            .sa1Container {
                margin-left: -150px;

                .sa1 {
                    height: 100%;
                    position: relative;
                    top: 100px;
                }
            }
        }

        &-end { 
            align-items: center;
            gap: var(--space-10);
            flex: 1;

            &-startPart {
                display: flex;
                align-items: center;
            }

            &-endPart {
                display: flex;
                flex-direction: column;
                gap: var(--space-10);
                flex: 1;

                .h1Group {
                    display: flex;
                    flex-direction: column;

                    img {
                        width: 42px;
                        height: 42px;
                        margin-inline-start: -45px;   
                    }

                    h1 {
                        font-weight: bold;
                        color: var(--color-0);
                        line-height: 47px;

                        span {
                            color: var(--color-3);
                        }
                    }
                }

                .imageGroup {
                    display: flex;
                    align-items: center;
                    gap: var(--space-6);

                    a {
                        cursor: pointer;
                    }

                    img {
                        width: 224px;
                        height: 69px;
                    }
                }
            }
        }

        &-background {
            background: var(--v-primarylight-base);
            height: 547px;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100vw;
            border-start-end-radius: 200px;
        }
    }

    .mostFrequentlyAskedQuestions {
        padding-block: var(--space-10);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1  {
            color: var(--color-0);
            font-weight: bold;
            line-height:67px;
        }

        h4 {
            color: var(--color-6);
            line-height: 40px;
        }

        &-cardContainer {
            margin-top: var(--space-4);
        }
        
        &-card {
            border-radius: var(--space-2);
            background: var(--v-primary-base);
            padding: var(--space-4);
            color: var(--color-1);
            flex: 1 1 calc(50% - 12px);
            min-width: 350px;
        }
    }
}

@media only screen and (max-width: 1200px) {

  
    .downloadAppSection {
        &-end { 

            &-endPart {

                .imageGroup {
                    flex-direction: column !important;
                    align-items: flex-start !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
  
    .aboutAsSection {

        &-section {
            flex-direction: column !important;
            align-items: center !important;

            &_alignItemsStart {
                flex-direction: column-reverse !important;
            }
        }

        &-imgContainer {
            flex: unset !important;
            width: 50% !important;
            height: auto !important;
        }

        &-endSection {
            flex-direction: column !important;
        }
    }

    .downloadAppSection {
        align-items: center;
        justify-content: center;
 
        &-start {
            flex: 1;
        }

        &-end {
            position: absolute !important;
            height: auto !important;
            padding: 25px !important;
            background:rgba(255,255,255, 0.8);
            border-radius: 50px;

        }
    }
}

@media only screen and (max-width: 768px) {

    .carousel {
        height: 500px !important;

        &-itemContainer {
            flex-direction: column-reverse;
    
            &-part {
                flex: unset !important;
                width: unset !important;
    
                .mainImage {
                    width: 200px !important;
                    height: 200px !important;
                }
    
                .badgeImage {
                    display: none;
                }
            }
        }
    }

    .aboutAsSection {
        &-endSection {
            &-item {
                width: 95% !important;
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .aboutAsSection {

        &-imgContainer {
            .secondPage {
                display: none;
            }
        }
    }
}
