.authPageContainer {
    padding: var(--space-6) var(--space-10);
    display: flex;
    flex-direction: column;
    gap: var(--space-25);
    overflow-y: auto;
    height: 100%;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_flexCol {
            flex-direction: column;
            align-items: flex-start;
        }

        &-start {
            display: flex;
            align-items: center;
            gap: var(--space-2);

            img {
                width: 68px;
                height: 68px;
            }

            h2 {
                color: var(--color-2);
                font-weight: 700;
            }
        }

        &-end {
            display: flex;
            align-items: center;
            gap: var(--space-2);

            span {
                font-size: 14;
                color: var(--color-0);
            }

            a {
                text-decoration: unset;
                color: var(--color-3) !important;
            }
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-8);

        &-titleGroup {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-2);

            h1, h5 {
                color: var(--color-0);
            }

            h1 {
                font-weight: 600;
            }

            h5 {
                font-weight: 400;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: var(--space-3); 
            width: 400px;

            a {
                text-align: end;
                margin-block: var(--space-2);
            }
        }
    }

    a {
        color: var(--color-3);
        cursor: pointer;
        font-size: 14;
    }
}

@media only screen and (max-width: 600px) {
  
    .authPageContainer {
        padding: var(--space-2);
        gap: var(--space-10);
        
        &-header {

            &-start {

                h2 {
                    display: none;
                }
            }
        }

        &-container {
            width: 100%;
            padding-inline: var(--space-10);

            form {
                width: 100%;
            }
        }
    }
}
