<footer class="container">
    
    <div class="logo">
        <img src="/assets/images/logo.png" alt="logo">
        <h6 class="title">Nifas</h6>
    </div>
    <p class="footerDesc">الأم و الطفل، سعادة و رعاية</p>
    <div class="aGroup">

        <a (click)="scrollToSection(landingPageSetionsNameEnum.OurMission)">
            مهمتنا
        </a>
        <a (click)="scrollToSection(landingPageSetionsNameEnum.OurServices)">
            خدماتنا
        </a>
        <a (click)="scrollToSection(landingPageSetionsNameEnum.OurNews)">
            أخبارنا
        </a>

    </div>

    <div class="socmed">
        <a href="https://www.tiktok.com/nifas.sa?_t=8lmlu8BBkpd&amp;_r=1" target="_blank">
            <img src="/assets/images/Tiktok.png" alt="">
        </a>
        <a href="https://www.instagram.com/nifas.sa/" target="_blank">
            <img src="/assets/images/Instagram.png" alt="">
        </a>
    </div>

</footer>