<footer class="footer">
    
    <div class="footer-top container">

        <div class="footer-top-start">

            <div class="logo">
                <img src="/assets/images/logo.png" alt="logo">
                <h2 class="title">Nifas</h2>
            </div>

            <div class="info">

                <mat-icon fontSet="material-symbols-outlined">phone</mat-icon>
                <h6>+966 112 150 075</h6>

            </div>
            <div class="info">

                <mat-icon fontSet="material-symbols-outlined">email</mat-icon>
                <h6>info&#64;nifas.net</h6>

            </div>
            <div class="info">

                <mat-icon fontSet="material-symbols-outlined">location_on</mat-icon>
                <h6>Tahlia Street, Al Abdullatif Buildings Front of Karam Beirut Restaurant, Ist Floor, Office 101 Riyadh, Saudi Arabia</h6>

            </div>

        </div>
        <div class="footer-top-end">

            <h2>join us</h2>
            <h6>Subscribe to our mailing list and receive the latest offers, the latest articles, and medical options</h6>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <input type="text" formControlName="email" placeholder="example@email.com"/>

            </form>

        </div>

    </div>
    <div class="footer-bottom">

        <div class="container">
            
            <div class="followUsArea">
                
                <h6>
                    Follow Us
                </h6>    
                <div>

                    <a>
                        <img class="mainPage" src="/assets/images/Frame.png" />
                    </a>
                    <a>
                        <img class="mainPage" src="/assets/images/Frame (1).png" />
                    </a>
                    <a>
                        <img class="mainPage" src="/assets/images/Frame (2).png" />
                    </a>

                </div>

            </div>
            <h6>
                Happy Baby. Healthy Mom
            </h6>

        </div>

    </div>

</footer>