.footer {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    background-color: var(--v-primary-base);

    &-top {
        flex: 1;
        display: flex;
        gap: var(--space-6);
        padding-block: var(--space-4);

        &-start, &-end {
            flex: 1;
            width: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--space-7);
        }

        &-start {
            display: flex;
            flex-direction: column;

            .logo {
                display: flex;
                align-items: center;
                gap: var(--space-2);
                
                img {
                    width: 58px;
                    height: 58px;
                }
        
                h2 {
                    font-weight: bold;
                    color: var(--color-1);
                }
            }

            .info {
                display: flex;
                gap: var(--space-5);
                margin-inline-start: var(--space-3);

                h6 {
                    color: var(--color-1);
                    line-height: 26px;
                    font-weight: 400;
                }
            }
        
        }

        &-end {
            align-items: center;

            h2 {
                font-weight: bold;
                color: var(--color-1);
            }

            h6 {
                color: var(--color-1);
                line-height: 26px;
                font-weight: 400;
                width: 416px;
            }

            input {
                width: 415px;
                height: 60px;
                border-radius: var(--space-9);
                padding: var(--space-5);
                background-color: unset;
                border: 1px solid var(--color-1);
                outline: unset;
                color: var(--color-1);

                &::placeholder {
                    color: var(--color-1);
                }
            }
        }
    }

    &-bottom {
        height: 100px;
        background-color: var(--bg-0);
        display: flex;
        align-items: center;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .followUsArea {
                display: flex;
                align-items: center;
                gap: var(--space-7);

                h6 {
                    opacity: 1; 
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: var(--space-4);  

                    a {
                        cursor: pointer;
                    }
                }
            }

            h6 {
                line-height: 26px;
                color: var(--color-0);
                opacity: 0.5;
            }
        }
    }

    mat-icon  {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: var(--bg-0);
        color: var(--color-3);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        position: relative;
        top: 5px;
        flex-shrink: 0;
    }
}

@media only screen and (max-width: 992px) {
  
    .footer {
        &-top {
            flex-direction: column !important;
    
            &-start, &-end {
                flex: unset !important;
                width: unset !important;
            }
        }
    }

}

@media only screen and (max-width: 600px) {
  
    .footer {

        &-top {
            &-end {
                input {
                    width: 90vw;
                }

                
                h6 {
                    width: 90vw;
                }
            }
        }
    
        &-bottom {
            .container {
                flex-direction: column !important;
            }
        }
    }

}