<div class="swiperSlider">

    <div class="swiperSlider-top">
        <h5 *ngIf="sectionOthorTitle">{{sectionOthorTitle}}</h5>
        <h1 *ngIf="sectionTitle">{{sectionTitle}}</h1>
    </div>

    <img *ngIf="isCardView" class="imgTag" src="/assets/images/sliderTag.png" />
    <ng-container *ngIf="items">

        <p-carousel class="pCarousel" 
            [autoplayInterval]="autoplayInterval"
            [value]="items" 
            [numVisible]="3" 
            [numScroll]="3" 
            [responsiveOptions]="responsiveOptions"
            [circular]="false">

            <ng-template let-item pTemplate="item">

                    <div class="swiperSlider-item" *ngIf="!isCardView">
                        
                        <div class="swiperSlider-item-container">

                            <img  src="http://185.182.187.242:1994//assets//images/{{item?.imagePath}}"/>
                            <div class="swiperSlider-item-endArea">

                                <h5 class="three-dots"  matTooltip="{{item.descOt}}">{{item.descOt}}</h5>
                                <nifas-avatar [size]="40"/>

                            </div>
                            <div class="swiperSlider-item-shadow"></div>

                        </div>

                    </div>

                    <div class="swiperSliderCardView-item" *ngIf="isCardView">

                        <div class="swiperSliderCardView-item-container">
                            <div class="swiperSliderCardView-item-start">

                                <img  src="http://185.182.187.242:1994//assets//images/{{item?.imagePath}}"/>

                            </div>
                            <div class="swiperSliderCardView-item-end">

                                <div class="endContainer">

                                    <div class="swiperSliderCardView-item-end-h5Group">

                                        <h6>SPARK program</h6>
                                        <div class="divider1 divider1__vertical height-15"></div>
                                        <h6>13th December 2022</h6>
        
                                    </div>
                                    <h6 class="three-dots-2-line" matTooltip="{{item.descOt}}">{{item.descOt}}</h6>
        

                                </div>
                            
                            </div>

                        </div>

                    </div>

            </ng-template>

        </p-carousel>


    </ng-container>

</div>