<div class="swiperSlider">

    <h1 *ngIf="sectionTitle">{{sectionTitle}}</h1>

    <ng-container *ngIf="items">

        <p-carousel class="pCarousel" 
            [autoplayInterval]="autoplayInterval"
            [value]="items" 
            [numVisible]="3" 
            [numScroll]="3" 
            [responsiveOptions]="responsiveOptions"
            [circular]="false">

        <ng-template let-items pTemplate="item">
                <div class="swiperSlider-item">
                    
                    <div class="swiperSlider-item-container" [ngStyle]="{ 'background-image': 'url(' + items.image + ')' }">

                        <div class="swiperSlider-item-endArea">

                            <h5 class="three-dots"  matTooltip="{{items.description}}">{{items.description}}</h5>
                            <nifas-avatar [size]="40"/>

                        </div>
                        <div class="swiperSlider-item-shadow"></div>

                    </div>

                </div>
        </ng-template>

    </p-carousel>


    </ng-container>

</div>